// ============================ Buttons ============================
.btn
	br(30px)
	tr(all)
	display inline-block
	background none
	border 0
	text-align: center
	text-decoration: none
	font-size: 18px
	font-family "Fira Sans"
	font-weight: 700
	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	padding 15px

.btn--md
	@extend .btn
	padding 20px 45px
	min-width 220px

.btn--lg
	@extend .btn
	font-size 20px
	padding 10px 30px

.btn--full
	width 100%


.btn--mark
	@extend .btn
	color white
	background $mark
	.nav-icon
		fill white
	&:hover
		background-color darken($mark,20)
	&:active
		background-color darken($mark,20)
	input[type="submit"]
		border 0
	.nav-icon
		fill white

.btn--disable
	@extend .disabled
	border 1px solid $border-color
	background-color #ffffff
	color #000000

.btn--light
	@extend .btn
	border 1px solid $pink
	background-color #ffffff
	color $pink
	&:hover
		background: $pink
		color white
	.nav-icon
		fill $mark

.btn--white
	@extend .btn
	border 1px solid rgba(255, 255, 255, 0.9)
	color rgba(255, 255, 255, 0.9)
	.nav-icon
		fill rgba(255, 255, 255, 0.9)

.btn--icon
	flex(mid)

.nav-icon
	size 20px
	display inline-block

.nav-icon--left
	margin-left 10px

.nav-icon--right
	margin-rihgt 10px

.skin--fe
	.btn--md
		br(5px)
	.btn--mark
		background: $green
		&:hover
			background: lighten($green,10)

.skin--nation
	.btn--md
		br(5px)
	.btn--mark
		background: $red
		&:hover
			background: lighten($red,10)
	.btn--light
		border 1px solid $red
		background-color #ffffff
		color $red
		&:hover
			background: $red
			color white
		.nav-icon
			fill $mark

.skin--green
	.btn--md
		br(0px)
	.btn--mark
		br(0px)
		background: $orange
		transform: skew(-10deg);
		span
			transform: skew(10deg);

		&:hover
			background: lighten($orange,10)
	.btn--light
		transform: skew(-10deg);
		br(0px)
		border 1px solid $orange
		background-color #ffffff
		color $orange
		&:hover
			background: $orange
			color white
		.nav-icon
			fill $mark
