// === Curent color ===
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

$pink = #eea4c8
$pink-mark = #ff70b6
$silver  = #888faa
$gray = #c4c4c4
$gray-light = #e5e5e5
$gray-light  = #888faa
$dark = #2b2d35
$green = #0d8c45
$red = #ed1e40

$mark = $pink

$main-text-color = $dark
$border-color = #dddddd

$link-color = black
$link-color-visited = gray
$link-color-hover = black
