include block_html/_style.pug
include block_html/_include.pug

.page.skin--fe
	+header('main')
	.page-content
		.main-cont--sm
			.title.title--center О компании
			.about-logo
				img(src="img/logo-fe-sqere--text.svg", alt="")
			.content
				.title Миссия группы компаний FEEL EAT
				ul
					li повышение уровня здоровья населения и популяризации здорового питания и ЗОЖ
					li помогать каждому кто стремится к ЗОЖ, питаться правильно, разннобразно и вкусно
				p Компания специализируется на приготовлении и доставке здорового питания с использованием натуральных продуктов питания. Мы не просто готовим и доставляем пищу, а помогаем каждому, кто стремится к здоровому образу жизни, питаться правильно и с удовольствием.
				p Наши профессиональные специалисты разработают индивидуальную программу питания, исходя из желаемых результатов, учитывая состояние здоровья, сферу занятости, образ жизни, привычки и даже хобби. Рацион каждого нашего клиента позволяет достичь поставленных целей в установленные сроки с пользой для здоровья и психоэмоционального состояния.
				img(src="img/about-company.jpg", alt="").article-img
		.main-cont--md
			.title.title--center Наши направления питания
			.mode
				a(href="#").mode__el
					img(src="img/logo-mam-text.svg", alt="")
				a(href="#").mode__el
					img(src="img/logo-zn.svg", alt="")
				a(href="#").mode__el
					img(src="img/logo-green-long.svg", alt="")
		.main-cont--sm
			.title Почему именно мы?
			.why
				.why__el
					.why__el-icon
						+icon("allergic","icon")
					.why__el-title Гиппоалергенные блюда
					.why__el-text Мы составляем меню каждую неделю, считаем БЖУ, выбираем только свежие продукты и лучшие рецептуры. Мы делаем полезное вкусным.
				.why__el
					.why__el-icon
						+icon("vkus","icon")
					.why__el-title Вкусное и свежеее
					.why__el-text Регулярно наш курьер привозит Вам пакет с набором блюд на весь день, которые, Вы можете легко взять с собой или разогреть дома, превратив во вкусный и сытный прием пищи.
				.why__el
					.why__el-icon
						+icon("24","icon")
					.why__el-title Экономия времени
					.why__el-text Без лишних усилий, потери времени на кухне и в магазине за покупкой продуктов, а также без мытья посуды. Поздравляем!
				.why__el
					.why__el-icon
						+icon("no_oil","icon")
					.why__el-title Без жарки и масла
					.why__el-text Прокачиваем сервис. Мы доставляем еду за 59 минут. Вы и не заметите, насколько быстро горячий заказ окажется на вашем столе!
			.content
				p Наш шеф повар применил швейцарский подход в разработке меню и проработал необычные и разнообразные блюда, которые разрушат ваши стереотипы о диетическом питании.
				a(href="https://youtu.be/Y4G0xemXFm8").fancybox.video-link.article-img
					.video(style="background-image:url('img/video-cover.jpg')")
						.video-filter
						+icon("play--color","icon")
				p Наш шеф повар применил швейцарский подход в разработке меню и проработал необычные и разнообразные блюда, которые разрушат ваши стереотипы о диетическом питании.
	+footer()
include ./block_html/_script.pug
