include block_html/_style.pug
include block_html/_include.pug

.page.skin--fe
	+header('main')
	.page-content
		.main-cont--sm
			.title.title--center Как начать правильно питаться
			.article-head
				a(href="#").nav-item.nav-prev
					.nav-prev__icon
						+icon("arrow-left--slim","icon")
					.nav-prev__text назад
				.article-head__date с 25 января по 1 апреля 2019
				.article-head__count 3 мин чтения

			//использую как обертку для текстового контента
			.content
				img(src="img/diet-slider-1.jpg", alt="").article-img
				p Мы составляем меню каждую неделю, считаем БЖУ, выбираем только свежие продукты и лучшие рецептуры. Мы делаем полезное вкусным. Мы составляем меню каждую неделю, считаем БЖУ, выбираем только свежие продукты и лучшие рецептуры. Мы делаем полезное вкусным.
				p Каждый из нас неоднократно слышал об обмене веществ, и что у тех , у кого он быстрый - тем, бесспорно, повезло и можно есть всего и много.
				p Но так ли это? Давайте попробуем разобраться.
				p Для начала, дадим определение этому загадочному слову «метаболизм»
				p Метаболизм - это набор химических реакций, происходящих в организме, для обеспечения и поддержания жизни.
				p Иными словами, наш организм, как огромная топка, в которую мы кидаем дрова (еду) и они сгорают, выделяя ккал, из чего мы и черпаем энергию.
				p Зависимость в данном случае прямая - чем больше вес, тем больше ккал требуется, для обеспечения жизнедеятельности организма.
				p Причем, мышечная ткань организма требует больше энергии, чем жировая.
				p Чем больший процент от общей массы тела составляют мышцы, тем больше организм затрачивает на их поддержание.
				p Грубо говоря, даже сидя на диване, обладатель внушительной мышечной массы тратит на порядок больше ккал.
				img(src="img/diet-slider-5.jpg", alt="").article-img
				p Для начала, дадим определение этому загадочному слову «метаболизм»
				p Метаболизм - это набор химических реакций, происходящих в организме, для обеспечения и поддержания жизни.
				p Иными словами, наш организм, как огромная топка, в которую мы кидаем дрова (еду) и они сгорают, выделяя ккал, из чего мы и черпаем энергию.
				p Зависимость в данном случае прямая - чем больше вес, тем больше ккал требуется, для обеспечения жизнедеятельности организма.
				p Причем, мышечная ткань организма требует больше энергии, чем жировая.
				p Чем больший процент от общей массы тела составляют мышцы, тем больше организм затрачивает на их поддержание.
				p Грубо говоря, даже сидя на диване, обладатель внушительной мышечной массы тратит на порядок больше ккал.

			.article-nav
				a(href="#").nav-item.nav-prev
					.nav-prev__icon
						+icon("arrow-left--slim","icon")
					.nav-prev__text предыдущая акция
				a(href="#").nav-item.nav-next
					.nav-prev__text следующая акция
					.nav-prev__icon
						+icon("arrow-right--slim","icon")
	+footer()
include ./block_html/_script.pug
