include block_html/_style.pug
include block_html/_include.pug

.page.skin--fe
	+header('main')
	.page-content
		.main-cont
			.lk-banner
				img(src="img/lk-banner.jpg", alt="")
			.lk
				.lk-bar
					.lk-user
						.lk-user__icon
							+icon("user","icon")
						.lk-user__content
							.user__title Константин Константинопольский
							a(href="#").lk-user__out Выйти из аккаунта
					.lk-menu
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("pocket","icon")
							.lk-menu__el-text Мои финансы
								span.slide-menu-money 2167 ₽
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("purse","icon")
							.lk-menu__el-text Вывод средств
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("profile-plus","icon")
							.lk-menu__el-text Мой промокод
						a(href="#").lk-menu__el.lk-menu__el--active
							.lk-menu__el-icon
								+icon("food","icon")
							.lk-menu__el-text Мои заказы
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("history","icon")
							.lk-menu__el-text История заказов
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("payment","icon")
							.lk-menu__el-text История начислений
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("profile","icon")
							.lk-menu__el-text Профиль
						//a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("payment","icon")
							.lk-menu__el-text История начислений
				.lk-content
					.title.title--center Мои финансы
					.pay-total 1 бонусный балл = 1 рубль
					.pay-point
						.pay-point__el
							.pay-point__title на вашем счету
							.pay-point__text
								span.pay-point__val 2167
								| бонусных балла
							a(href="#").pay-point__get Вывести средства
						.pay-point__el
							.pay-point__title на вашем счету
							.pay-point__text
								span.pay-point__val.pay-point__val--disable 2167
								| бонусных балла
					.finance
						.finance-head
							.finance-head-info
								.finance-text статус
								.finance-title Bronze (+10%)
							.finance-head-descr
								.finance-head-descr-row
									.finance-head-descr-row__text осталось до следующего статуса
									.finance-head-descr-row__val 1854,23 балла
								.finance-head-descr-row
									.finance-head-descr-row__text оборот в текущем месяце
									.finance-head-descr-row__val 1390,04 баллов
						.finance-content
							.calc
								.calc-state
									.calc-perc 0%
									.calc-text Start
									.calc-descr Оборот в месяц
								.calc-state
									.calc-perc.calc-perc--bronze 3%
									.calc-text Start
									.calc-descr 100 000 руб
								.calc-state
									.calc-perc.calc-perc--silver 5%
									.calc-text Start
									.calc-descr 500 000 руб
								.calc-state
									.calc-perc.calc-perc--gold 10%
									.calc-text Start
									.calc-descr 1 000 000 руб
							.progres
								.progres-line
									//используй data-val для уровня прогресса
									.progres-bg(data-val="10")
										| <svg class="progress-horiz" width="689" height="12" viewBox="0 0 689 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M11.6586 8C10.8349 10.3304 8.61244 12 6 12C2.68629 12 0 9.31371 0 6C0 2.68629 2.68629 0 6 0C8.61244 0 10.8349 1.66962 11.6586 4H227.341C228.165 1.66962 230.388 0 233 0C235.612 0 237.835 1.66962 238.659 4H452.341C453.165 1.66962 455.388 0 458 0C460.612 0 462.835 1.66962 463.659 4H677.341C678.165 1.66962 680.388 0 683 0C686.314 0 689 2.68629 689 6C689 9.31371 686.314 12 683 12C680.388 12 678.165 10.3304 677.341 8H463.659C462.835 10.3304 460.612 12 458 12C455.388 12 453.165 10.3304 452.341 8H238.659C237.835 10.3304 235.612 12 233 12C230.388 12 228.165 10.3304 227.341 8H11.6586Z" fill="#2C3047" fill-opacity="0.2"/>
										<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="689" height="12">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M11.6586 8C10.8349 10.3304 8.61244 12 6 12C2.68629 12 0 9.31371 0 6C0 2.68629 2.68629 0 6 0C8.61244 0 10.8349 1.66962 11.6586 4H227.341C228.165 1.66962 230.388 0 233 0C235.612 0 237.835 1.66962 238.659 4H452.341C453.165 1.66962 455.388 0 458 0C460.612 0 462.835 1.66962 463.659 4H677.341C678.165 1.66962 680.388 0 683 0C686.314 0 689 2.68629 689 6C689 9.31371 686.314 12 683 12C680.388 12 678.165 10.3304 677.341 8H463.659C462.835 10.3304 460.612 12 458 12C455.388 12 453.165 10.3304 452.341 8H238.659C237.835 10.3304 235.612 12 233 12C230.388 12 228.165 10.3304 227.341 8H11.6586Z" fill="#0D8C45"/>
										</mask>
										<g  mask="url(#mask0)">
										<rect class="progress-val--hor" x="-6" y="-11" width="261" height="34" fill="#0D8C45"/>
										</g>
										</svg>
										<svg class="progress-vert" width="12" height="408" viewBox="0 0 12 408" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M4.00002 11.6586C1.66962 10.8349 0 8.61244 0 6C0 2.68629 2.68629 0 6 0C9.31371 0 12 2.68629 12 6C12 8.61244 10.3304 10.8349 8 11.6586L7.99999 132.341C10.3304 133.165 12 135.388 12 138C12 140.612 10.3304 142.835 7.99999 143.659L7.99999 264.341C10.3304 265.165 12 267.388 12 270C12 272.612 10.3304 274.835 7.99999 275.659L7.99998 396.341C10.3304 397.165 12 399.388 12 402C12 405.314 9.31371 408 6 408C2.68629 408 0 405.314 0 402C0 399.388 1.66962 397.165 4 396.341L4.00001 275.659C1.66962 274.835 0 272.612 0 270C0 267.388 1.66962 265.165 4.00001 264.341L4.00001 143.659C1.66962 142.835 0 140.612 0 138C0 135.388 1.66962 133.165 4.00001 132.341L4.00002 11.6586Z" fill="#E5E5E5"/>
										<mask class="progress-val--vert" id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="12" height="10%">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M4.00002 11.6586C1.66962 10.8349 0 8.61244 0 6C0 2.68629 2.68629 0 6 0C9.31371 0 12 2.68629 12 6C12 8.61244 10.3304 10.8349 8 11.6586L7.99999 132.341C10.3304 133.165 12 135.388 12 138C12 140.612 10.3304 142.835 7.99999 143.659L7.99999 264.341C10.3304 265.165 12 267.388 12 270C12 272.612 10.3304 274.835 7.99999 275.659L7.99998 396.341C10.3304 397.165 12 399.388 12 402C12 405.314 9.31371 408 6 408C2.68629 408 0 405.314 0 402C0 399.388 1.66962 397.165 4 396.341L4.00001 275.659C1.66962 274.835 0 272.612 0 270C0 267.388 1.66962 265.165 4.00001 264.341L4.00001 143.659C1.66962 142.835 0 140.612 0 138C0 135.388 1.66962 133.165 4.00001 132.341L4.00002 11.6586Z" fill="#0D8C45"/>
										</mask>
										<g mask="url(#mask1)">
										<rect  x="23" y="-6" width="261" height="54" transform="rotate(90 23 -6)" fill="#0D8C45"/>
										</g>
										</svg>
	+footer()
	+modal()
include ./block_html/_script.pug
