include block_html/_style.pug
include block_html/_include.pug

.page.skin--fe
	+header('main')
	.page-content
		.main-cont
			.lk-banner
				img(src="img/lk-banner.jpg", alt="")
			.lk
				.lk-bar
					.lk-user
						.lk-user__icon
							+icon("user","icon")
						.lk-user__content
							.user__title Константин Константинопольский
							a(href="#").lk-user__out Выйти из аккаунта
					.lk-menu
						a(href="#").lk-menu__el.lk-menu__el--active
							.lk-menu__el-icon
								+icon("food","icon")
							.lk-menu__el-text Мои заказы
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("gift","icon")
							.lk-menu__el-text Мои бонусы
								span.slide-menu-money 2167 ₽
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("profile-plus","icon")
							.lk-menu__el-text Пригласить друга
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("history","icon")
							.lk-menu__el-text История заказов
						a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("profile","icon")
							.lk-menu__el-text Профиль
						//a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("purse","icon")
							.lk-menu__el-text Вывод средств
						//a(href="#").lk-menu__el
							.lk-menu__el-icon
								+icon("payment","icon")
							.lk-menu__el-text История начислений

				.lk-content
					.title.title--center История начислений
					.pay-total 1 бонусный балл = 1 рубль

					.pay-point
						.pay-point__el
							.pay-point__title на вашем счету
							.pay-point__text
								span.pay-point__val 2167
								| бонусных балла
							a(href="#").pay-point__get Вывести средства
						.pay-point__el
							.pay-point__title на вашем счету
							.pay-point__text
								span.pay-point__val.pay-point__val--disable 2167
								| бонусных балла
					- for (var i=0;i<3;i++)
						.pay-row
							.pay-date 14 / 02 / 2019
							.pay-info
								.pay-title Заказ программы питания При язве желудка и 12-типерстной кишки
								.pay-text 1 день
							.pay-val + 1055,34
							.pay-state зачислено
						.pay-row
							.pay-date 14 / 02 / 2019
							.pay-info
								.pay-title Заказ программы питания При язве желудка и 12-типерстной кишки
								.pay-text 1 день
							.pay-val.type--disable 1055,34
							.pay-state.type--disable в ожидании
								span.info.bubble ?
									.bubble-info в нашем арсенале более 1140 различных блюд

	+footer()
	+modal()
include ./block_html/_script.pug
