include block_html/_style.pug
include block_html/_include.pug

.page.skin--fe
	+header('main')
	.page-content
		.controller
			a(href="#").controller__el.controller__el--left
				.controller__el-filter
				.controller__el-img(style="background-image:url('img/controller--left.jpg')")
				.controller__content
					.controller__logo.controller__logo--white
						img(src="img/logo-mam-text--white.svg", alt="")
					.controller__logo.controller__logo--color
						img(src="img/logo-mam-text.svg", alt="")
			a(href="#").controller__el.controller__el--center
				.controller__el-filter
				.controller__el-img(style="background-image:url('img/controller--center.jpg')")
				.controller__content
					.controller__logo.controller__logo--white
						img(src="img/logo-zn--white.svg", alt="")
					.controller__logo.controller__logo--color
						img(src="img/logo-zn.svg", alt="")
			a(href="#").controller__el.controller__el--right
				.controller__el-filter
				.controller__el-img(style="background-image:url('img/controller--right.jpg')")
				.controller__content
					.controller__logo.controller__logo--white
						img(src="img/logo-green-text--white.svg", alt="")
					.controller__logo.controller__logo--color
						img(src="img/logo-green-text.svg", alt="")


include ./block_html/_script.pug
