include block_html/_style.pug
include block_html/_include.pug

.page.skin--fe
	+header('main')
	.page-content
		.main-cont
			h1 Модальные окна
			p Чтобы вызвать нужное окно добавь на элемент класс .modal-get и data-modal="имя окна"
			br
			br
			.btn--md.btn--mark.modal-get(data-modal="login") Авторизация | data-modal="login "
			br
			br
			.btn--md.btn--mark.modal-get(data-modal="sms") CMC | data-modal="sms"
			br
			br
			.btn--md.btn--mark.modal-get(data-modal="registration") Регистрация | data-modal="registration"
			br
			br
			.btn--md.btn--mark.modal-get(data-modal="truemessage") Успешное действие | data-modal="truemessage"
			br
			br
			.btn--md.btn--mark.modal-get(data-modal="adress") добавить адрес | data-modal="adress"
			br
			br
			.btn--md.btn--mark.modal-get(data-modal="adress-edit") изменить адрес | data-modal="adress-edit"
			br
			br
			.btn--md.btn--mark.modal-get(data-modal="order") Оставить заявку | data-modal="order"
			br
			br
			.btn--md.btn--mark.modal-get(data-modal="order-reg") Оставить заявку зарегист. | data-modal="order-reg"
	+footer()
	+modal()
include ./block_html/_script.pug
