include block_html/_style.pug
include block_html/_include.pug

.page.skin--fe
	+header('main')
	.page-content
	.main-cont
		.title.title--center Акции
		.mode
			.mode__el
				img(src="img/logo-mam-text.svg", alt="")
			.mode__el
				img(src="img/logo-zn.svg", alt="")
			.mode__el
				img(src="img/logo-green-long.svg", alt="")

	+footer()
include ./block_html/_script.pug
