-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'HappyMom',
			'href':'mom'
		},
		{
			'name':'Акции',
			'href':'sale'
		},
		{
			'name':'Акции подробная',
			'href':'sale-item'
		},
		{
			'name':'Блог',
			'href':'blog'
		},
		{
			'name':'Блог подробная',
			'href':'blog-item'
		},
		{
			'name':'О компании',
			'href':'about'
		},
		{
			'name':'ЛК мои заказы',
			'href':'lk-order'
		},
		{
			'name':'ЛК мои бонусы',
			'href':'lk-bonus'
		},
		{
			'name':'ЛК пригласить друга',
			'href':'lk-friend'
		},
		{
			'name':'ЛК история',
			'href':'lk-history'
		},
		{
			'name':'ЛК профиль',
			'href':'lk-profile'
		},
		{
			'name':'ЛК история начисления',
			'href':'lk-payment'
		},
		{
			'name':'Popup',
			'href':'modal'
		}
	]

