-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'HappyMom',
			'href':'mom'
		},
		{
			'name':'Акции',
			'href':'sale'
		},
		{
			'name':'Акции подробная',
			'href':'sale-item'
		},
		{
			'name':'Блог',
			'href':'blog'
		},
		{
			'name':'Блог подробная',
			'href':'blog-item'
		}
	]

