mixin modal()
	.modal-layer
		.modal-filter
		.modal-wrap
			//success message
			.modal(data-modal="truemessage")
				.modal-content.modal-content--true
					.modal-close
						+icon("close-fat","icon")
					+icon("success--color","icon icon-true")
					.modal-title Отлично!
					.modal-text-true Спасибо за Ваш отзыв, мы ценим внимание каждого клиента
			//login
			.modal.modal--md(data-modal="login")
				.modal-content
					.modal-user Я пользователь
					.modal-close
						+icon("close-fat","icon")
					.modal-title Войти в личный кабинет
					.modal-text Пожалуйста, введите свой номер телефона, мы пришлём вам проверочный смс-код
					form(action="#").login-form
						.input-row
							input(type="text" placeholder="Телефон" class="input")
						.login-remember
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text Я ознакомился с #[a(href="#") политикой конфиденциальности], #[a(href="#") публичной офертой] и даю согласие на обработку моих персональных данных
						.btn--md.btn--mark.btn--full Отправить
			.modal.modal--md(data-modal="sms")
				.modal-content
					.modal-user Я пользователь
					.modal-close
						+icon("close-fat","icon")
					.modal-title Войти в личный кабинет
					.modal-text Введите код из смс, которая пришла вам на телефон
					form(action="#").login-form
						.input-row
							input(type="text" placeholder="код" class="input")
						.btn--md.btn--mark.btn--full Войти
					.foget-link
						.link-mark Выслать смс повторно
			.modal.modal--md(data-modal="registration")
				.modal-content
					.modal-user Я пользователь
					.modal-close
						+icon("close-fat","icon")
					.modal-title Войти в личный кабинет
					.modal-text Заполните эти поля, чтобы завершить процесс регистрации
					form(action="#").login-form
						.input-row
							input(type="text" placeholder="Имя" class="input")
						.input-row
							input(type="text" placeholder="Телефон" class="input")
						.promocode-check
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text У меня есть промокод
						.input-row.input-row--code
							input(type="text" placeholder="Промокод" class="input")
						.btn--md.btn--mark.btn--full Отправить
					.modal-text Регистрируйся и зарабатывай до 10% с покупки каждого привлечённого тобой пользователя
					.modal-text.modal-text--footer.modal-text--sm #[span.text--green.text--bold 45 000]  (примерная стоимость месячной подписки) #[span.text--green.text--bold * 10% = 4 500] рублей в месяц с одного клиента
			.modal(data-modal="adress")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавить адрес
					form( action="#")
						.select-city
						.input-row
							input(type="text" name="name" placeholder="Улица").input
						.input-row-half
							.input-wrap
								input(type="text" name="name" placeholder="Дом").input
							.input-wrap
								input(type="text" name="name" placeholder="Квартира").input
						.input-row-half
							.input-wrap
								input(type="text" name="name" placeholder="Подъезд").input
							.input-wrap
								input(type="text" name="name" placeholder="Этаж").input
						.input-row
							input(type="text" name="name" placeholder="Примечание к адресу").input
						.promocode-check
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text Это основной адрес
						input(type="submit" value="Cохранить").modal-send.btn--md.btn--mark.btn--full
			//modal profile-edit
			.modal(data-modal="profile-edit")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Изменить профиль
					form( action="#")
						.select-city
						.input-row
							.input-row__title Имя
							input(type="text" name="name"  value="Александр").input
						.input-row
							.input-row__title Телефон:
							input(type="text" name="name"  value="+7 923 666 7667").input
						.input-row
							.input-row__title День рождения:
							input(type="text" name="name"  value="30.20.1982").input
						input(type="submit" value="Cохранить").btn--md.btn--mark.btn--full.modal-send
			//modal profile-edit === end

			//modal adres-edit
			.modal(data-modal="adress-edit")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Изменить адрес
					form( action="#")
						.select-city
						.input-row
							.input-row__title Улица
							input(type="text" name="name"  value="Ленина").input
						.input-row-half
							.input-wrap
								.input-row__title Дом
								input(type="text" name="name"  value="14").input
							.input-wrap
								.input-row__title Квартира
								input(type="text" name="name"  value="35").input
						.input-row-half
							.input-wrap
								.input-row__title Подъезд
								input(type="text" name="name"  value="2").input
							.input-wrap
								.input-row__title Этаж
								input(type="text" name="name"  value="17").input
						.input-row
							.input-row__title Примечание к адресу
							input(type="text" name="name" placeholder="Примечание к адресу" value="Дом").input
						input(type="submit" value="Cохранить").btn--md.btn--mark.btn--full.modal-send
			//modal adres-edit === end

			//modal order
			.modal(data-modal="order")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.order-head
						.order-head__icon
							+icon("day-1","icon")
						.order-head__contet
							.order-head__val ≈ 2500 ккал, 6 приёмов/день
							.order-head__title Я беременна. 1 триместр
							.order-head__info 14 дней питания <span class="mark"> - 3%</span>
					form( action="#")
						.form-section
							.modal-title--left.modal-title--bright Ваши данные
							.input-row
								input(type="text"  data-input="Ваше имя и фамилия").input.input-animate
							.input-row
								input(type="text"  data-input="Телефон").input.input-animate
							.input-row
								input(type="text"  data-input="E-mail").input.input-animate
						.form-section
							.modal-title--left.modal-title--bright Куда доставить
							a(href="#").order-info информация о доставке
							.input-row
								input(type="text" placeholder="Дата первой доставки" ).input.getdate
							.input-row
								input(type="text" name="name" data-input="Улица").input.input-animate
							.input-row
								input(type="text" name="name" data-input="Дом").input.input-animate
							.input-row
								input(type="text" name="name" data-input="Квартира").input.input-animate
							.order-note
								.order-note__icon
									+icon("bonuses","icon")
								.order-note__info
									.order-note__text Вам будет начислено
									.order-note__val 250 баллов
						.form-section
							.modal-title--left.modal-title--bright Регулярность доставки
							.input-row.input-row--mid
								.check-el
									label.style-label.style-label--radio
										input(type="radio" name="deliver" checked).sytle-input
										.sytle-input-element
											.icon-radio
										.sytle-input-text Ежедневно
							.input-row.input-row--mid
								.check-el
									label.style-label.style-label--radio
										input(type="radio" name="deliver").sytle-input
										.sytle-input-element
											.icon-radio
										.sytle-input-text Раз в два дня

						.form-section
							.login-remember
								.check-el
									label.style-label.style-label--checkbox
										input(type="checkbox").sytle-input
										.sytle-input-element
											+icon("checked","icon-check")
										.sytle-input-text мне нужен комплект столовых приборов
							textarea(name="text", cols="30", rows="10" class="input" placeholder="Комментарий")
						.form-section
							.modal-title--left.modal-title--bright Рекомендуем также заказать

						.order-slider-wrap
							.order-slider
								- for (var i=0;i<4;i++)
									.order-slider__el
										.order-slider__el-img(style="background-image:url('img/drink.jpg')")
										.order-slider__el-title Вода минеральная Моршинская 0,5 л
										.order-slider__el-footer
											.order-slider__el-cost 120 ₽
											.elements-icr-block
												.incr
													.incr__minus.incr__nav
														+icon("minus","icon")
													.incr__val
														span 0
														.incr__val-coner
													.incr__plus.incr__nav
														+icon("plus","icon")
						.form-section
							.login-remember
								.check-el
									label.style-label.style-label--checkbox
										input(type="checkbox").sytle-input
										.sytle-input-element
											+icon("checked","icon-check")
										.sytle-input-text Я ознакомился с #[a(href="#") политикой конфиденциальности], #[a(href="#") публичной офертой] и даю согласие на обработку моих персональных данных
							input(type="submit" value="Оплатить 12 500 ₽" class="btn--md btn--mark order-get")
			//modal order === end

			//modal order-reg
			.modal(data-modal="order-reg")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.order-head
						.order-head__icon
							+icon("day-1","icon")
						.order-head__contet
							.order-head__val ≈ 2500 ккал, 6 приёмов/день
							.order-head__title Я беременна. 1 триместр
							.order-head__info 14 дней питания <span class="mark"> - 3%</span>
					form( action="#")
						.form-section
							.modal-title--left.modal-title--bright Куда доставить
							a(href="#").order-info информация о доставке
							.input-row
								input(type="text" placeholder="Дата первой доставки" ).input.getdate
							.input-row
								input(type="text" name="name" data-input="Улица").input.input-animate
							.input-row
								input(type="text" name="name" data-input="Дом").input.input-animate
							.input-row
								input(type="text" name="name" data-input="Квартира").input.input-animate
							.order-note
								.order-note__icon
									+icon("free","icon")
								.order-note__info
									.order-note__text Доставка бесплатна, но баллы не будут начислены из-за того, что вы за пределами МКАД
										span.info.bubble ?
											.bubble-info Получите рацион питания внутри МКАД, когда вы находитесь на работе или по делам и получите баллы.
						.form-section
							.modal-title--left.modal-title--bright Регулярность доставки
							.input-row.input-row--mid
								.check-el
									label.style-label.style-label--radio
										input(type="radio" name="deliver" checked).sytle-input
										.sytle-input-element
											.icon-radio
										.sytle-input-text Раз в два дня
											span.info.bubble ?
													.bubble-info Мы доставляем за МКАД раз в два дня

						.form-section
							.login-remember
								.check-el
									label.style-label.style-label--checkbox
										input(type="checkbox").sytle-input
										.sytle-input-element
											+icon("checked","icon-check")
										.sytle-input-text мне нужен комплект столовых приборов
							textarea(name="text", cols="30", rows="10" class="input" placeholder="Комментарий")
						.form-section
							.modal-title--left.modal-title--bright Рекомендуем также заказать

						.order-slider-wrap
							.order-slider
								- for (var i=0;i<4;i++)
									.order-slider__el
										.order-slider__el-img(style="background-image:url('img/drink.jpg')")
										.order-slider__el-title Вода минеральная Моршинская 0,5 л
										.order-slider__el-footer
											.order-slider__el-cost 120 ₽
											.elements-icr-block
												.incr
													.incr__minus.incr__nav
														+icon("minus","icon")
													.incr__val
														span 0
														.incr__val-coner
													.incr__plus.incr__nav
														+icon("plus","icon")
						.form-section
							.login-remember
								.check-el
									label.style-label.style-label--checkbox
										input(type="checkbox").sytle-input
										.sytle-input-element
											+icon("checked","icon-check")
										.sytle-input-text Я ознакомился с #[a(href="#") политикой конфиденциальности], #[a(href="#") публичной офертой] и даю согласие на обработку моих персональных данных
							input(type="submit" value="Оплатить 12 500 ₽" class="btn--md btn--mark order-get")
			//modal order-reg === end

